_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
*.swp

assets/*
cms/
framework/
vendor/
_config.php
.htaccess
behat.yml
build.xml
composer.json
composer.lock
CONTRIBUTING.md
index.php
install-frameworkmissing.html
Makefile
phpunit.*
README.md
web.config
