assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store

cms/
framework/
vendor/
.htaccess
behat.yml
build.xml
composer.json
CONTRIBUTING.md
index.php
install-frameworkmissing.html
Makefile
phpunit.*
README.md
web.config